/* Roboto 300 Normal */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Light.tff') format('tff');
    font-weight: 300;
    font-style: normal;
}

/* Roboto 500 Normal */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Medium.tff') format('tff');
    font-weight: 500;
    font-style: normal;
}

/* Roboto 700 Normal */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Bold.tff') format('tff');
    font-weight: 700;
    font-style: normal;
}

/* Roboto 300 Italic */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-LightItalic.tff') format('tff');
    font-weight: 300;
    font-style: italic;
}

/* Roboto 500 Italic */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-MediumItalic.tff') format('tff');
    font-weight: 500;
    font-style: italic;
}

/* Roboto 700 Italic */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-BoldItalic.tff') format('tff');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
}

:root {
    --fondo-principal-bg: #151F33;
    --fondo-secundario-bg: #111B30;
    --fondo-header-bg: #172A45;
    --border-color: #314158;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

main, footer, input[type="button"] {
    background-color: var(--fondo-principal-bg);
    color: white;
}

header {
    background-color: var(--fondo-header-bg);
}

body {
    /* Para que el footer se muestre abajo */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

main {
    /* Para que se muestre centrado horizontal el main */
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    border: none;
}

/* Header */

.enlace-movil {
    display: none;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.botones {
    border-radius: 30px !important;
}

/* Nav */

.navbar-nav {
    display: flex;
}

/* Main */

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tituloJuego {
    font-size: 3rem;
}

#boton-cpu, #boton-2jugadores {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

#contadores {
    display: flex;
    flex-direction: row;
    background-color: var(--fondo-secundario-bg);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin-bottom: 10px;
    width: 350px;
}

#contadores>* {
    flex: 1 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#turnos {
    background: linear-gradient(to right, rgba(37, 99, 235, 0.2), rgba(234, 88, 12, 0.2));
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
    width: 350px;
}

#tituloTurnado {
    padding: 4px;
    margin-top: 10px;
    margin-bottom: -0.2rem;
    font-size: 0.9rem;
    color: gray;
}

.contador, #turnos {
    display: flex;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    padding-left: 2.70rem;
    padding-right: 2.70rem;
    color: white;
    border-radius: 10px;
    margin: 4px
}

.infoDivs {
    display: flex;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    border-radius: 10px;
    margin: 6px
}

.infoDivs p, .infoDivs span {
    margin-top: 0rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.infoDivs span {
    font-weight: bold;
    font-size: 1.2rem;
}

.contador p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: var(--fondo-secundario-bg);
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
}

.celdas {
    background-color: #33415566;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    margin: 4px
}

.celdas:hover {
    background-color: #2E4052;
    border: 1px solid #1C72C8;
}

#resultado {
    font-weight: bold;
}

#botonJuego {
    display: flex;
    flex-direction: row;
}

#botonJuego button {
    margin: 6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 16px;
}

#botonVolverJugar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    padding-top: 10px;
    text-align: center;
}

#contadorTu, #contadorCPU, #contadorX, #contadorO {
    font-weight: bold;
    font-size: 1.2rem;
}

#resultado, #contadorCPU, #contadorX, #contadorO {
    color: mediumturquoise;
}

#modo, #contadorTu, #contadorO {
    color: orange;
}

/* Para móviles, tablets y ordenadores */
@media only screen and (max-width: 988px) {

    /* Header */

    .logo, .texto-logo, #boton-code {
        display: none;
    }

    /* Nav */

    .navbar {
        width: 100%;
    }

    .enlace-movil {
        display: flex;
    }

    .navbar-brand, .navbar-nav {
        gap: 0.25rem;
    }

    .navbar-nav li a {
        padding: 0.4rem;
    }

    /* Icono de hamburguesa de color blanco */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }

    /* Elimina el borde y la sombra al hacer clic */
    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    /* Main */

    main {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}