* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
}

header, main, footer, input[type="button"] {
    background-color: #0a1e30;
    color: white;
}

header {
    background-color: #172a45;
}

body {
    /* Para que el footer se muestre abajo */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

main {
    /* Para que se muestre centrado horizontal el main */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: 20px;
    border-color: white !important;
}

input[type="button"] {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    border: none;
}

/* Header */

.enlace-movil {
    display: none;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.botones {
    border-radius: 30px !important;
}

/* Nav */

.navbar-nav {
    display: flex;
}

/* Main */

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultado {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

#botonVolverJugar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    text-align: center;
}

/* Para móviles, tablets y ordenadores */
@media only screen and (max-width: 988px) {

    /* Header */

    .logo, .texto-logo, #boton-code {
        display: none;
    }

    /* Nav */

    .navbar {
        width: 100%;
    }

    .enlace-movil {
        display: flex;
    }

    .navbar-brand, .navbar-nav {
        gap: 0.25rem;
    }

    .navbar-nav li a {
        padding: 0.4rem;
    }

    /* Icono de hamburguesa de color blanco */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }

    /* Elimina el borde y la sombra al hacer clic */
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
}
