* {
    margin: 0;
    padding: 0;
}

table {
    margin-top: 10px;
    width: 20%;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celda {
    padding-top: 15px;
    padding-bottom: 15px;
}